.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollWidget .items .menu-item {
  min-width: 100px;
  padding: 10px;
}
.scrollWidget .items{
  display: flex;
  align-items: flex-start;
  max-width: 95%;
  overflow-x: hidden;
  padding: 10px;
}
.scrollWidget{
  display: flex;
  align-items: flex-start;
  min-height: 100px;
  margin: 30px;
}
 .leftBar{
  margin-top: 60px;
}
 .rightBar{
  margin-top: 60px;
}

/*card layout css start*/


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: rgb(240, 238, 235);
  border-radius: 0.25rem;
  box-shadow: 0 15px 15px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  min-width: 120px;
}


.card-active {
  background-color: orange;
}
.card_content {
  padding: 1rem;
}

.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
/*card layout css end*/